/*공통영역*/
.community-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 항목 사이에 공간 배분 */
  background-color: #fffae7;
  /*align-items: center; !* 수직 중앙 정렬 *!*/
  flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
  position: relative; /* 자식 요소의 절대 위치 설정을 위한 상대 위치 */
}

.content-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-diary {
  display: flex;
  flex-direction: row;
  /*margin-top: 15px;*/
  max-width: 50rem; /* 적당한 너비 설정 */
  width: 100%; /* 전체 너비에 맞춰 조정 */
  height: 28rem; /* 최대 높이 설정 */
  justify-content: space-between; /* 항목 사이에 공간 배분 */
  align-items: flex-end; /* 상단 정렬 */
  flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
}

#book-container {
  position: relative;
  margin: 0 0;
  padding: 0 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 1000px; /* Adding perspective for 3D effect */
  transform-style: preserve-3d;
  color: #333; /* Global text color */
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center; !* 기본 중앙 정렬 추가 *!*/
  transition: transform 0.5s ease; /* 책 위치 변화 애니메이션 */
}

.book-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  transform-style: preserve-3d;
  transition: transform 1s ease; /* 책 이동 시 부드러운 전환 */
}

.side {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #f0f0f0;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: inherit; /* Inherit font-size from parent */
}

.hidden {
  visibility: hidden;
}

#left-side, #right-side {
  position: absolute;
  border: 1px solid;
  top: 0;
  bottom: 0;
  background: #f0f0f0; /* Consistent background color */
}

#left-side {
  left: 0;
}

#right-side {
  right: 0;
}

#prevPage, #nextPage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  /*background-color: lightblue;*/
}

#map {
  top: 5%;
}

/* 첫 페이지에서 책이 중앙에 오도록 하는 추가 스타일 */
.centered {
  transform: translateX(50%); /* 책이 컨테이너의 중앙으로 이동 */
}

#book-container.centered .book-content {
  justify-content: center; /* 책 내부도 중앙에 위치하도록 설정 */
}

.page-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*box-sizing: border-box; !* Ensure padding is included in width and height *!*/
  backface-visibility: hidden;
}


/*스크랩 css*/
.scrap-component {
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: center; /* 가로 방향 중앙 정렬 */
  margin-bottom: 25px;
  position: relative; /**/
  cursor: pointer;
}

.circle-background {
  display: inline-block;
  width: 40px; /* 동그라미의 너비 */
  height: 40px; /* 동그라미의 높이 */
  margin-left: 5px;
  background-color: #ededed; /* 회색 배경 */
  border-radius: 100%; /* 원형으로 만들기 */
  position: relative; /* 위치 조정 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 */

}

.gallery-scrap-button {
  width: 25px; /* 원하는 크기로 조정 */
  height: 25px; /* 원하는 크기로 조정 */
  position: absolute; /* 절대 위치 설정 */
  top: 5px; /* 위쪽 여백 */
  right: 5px; /* 오른쪽 여백 */
  z-index: 5; /* 다른 요소 위에 위치하도록 설정 */
}

/*하트 이미지*/
.scrap-button {
  display: flex;
  width: 35px; /* 별 이미지 크기 */
  height: 35px; /* 별 이미지 크기 */
  position: absolute; /* position 설정 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*중앙 정렬*/
}

/*필터 span*/
.filter-div {
  font-size: 1rem;
  border-radius: 1rem;
  padding: 3px 20px;
  background-color: #ffffff;
  border: 1px solid black;
  cursor: pointer;
  display: flex; /* 아이콘과 텍스트를 수평으로 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-bottom: 1rem; /* 아래쪽 여백 추가 */
  position: relative; /* 상단 왼쪽에 위치하도록 절대 위치 설정 */
  left: 1.8rem; /* 왼쪽에서의 위치 */
  z-index: 1; /* 다른 요소 위에 위치하도록 설정 */
  width: auto; /* 자동 너비 설정 */
  max-width: 100px; /* 원하는 최대 너비 설정 */
}

.filter-icon {
  width: 20px; /* 아이콘 크기 조정 */
  height: 20px; /* 아이콘 크기 조정 */
  margin-right: 5px; /* 텍스트와의 간격 */
}

.modal-header {
  width: 100%;
  height: auto;
  justify-content: center; /* 자식 요소를 양쪽에 배치 */
  margin-bottom: 1.5rem;
  border-bottom: 0.1rem solid #ede7e7;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.filter-modal-title {
  /*text-align: left;*/
  /*margin-bottom: 1.3rem;*/
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 1rem; /* 제목과 인풋 필드 사이에 여백 추가 */

}

/*필터 모달 틀*/
.filter-modal-frame {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0;
}

.filter-modal-hd {
  display: flex; /* flex를 사용하여 가로 배치 */
  justify-content: space-between; /* 두 요소 사이의 간격 조정 */
  align-items: center; /* 세로 중앙 정렬 */

}

.filter-radius {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 인풋 필드와 레이블을 수직으로 정렬 */
  flex-grow: 1; /* 남은 공간을 차지 */
}

.filter-radius label {
  font-size: 1rem;
  font-weight: 400;
  /*position: absolute;*/
  /*top: .8rem;*/
  /*left: 1rem;*/
  margin-bottom: .5rem;
  color: #6d6d6d;
}

.filter-radius input {
  font-size: 1.2rem;
  font-weight: 350;
  /*position: relative;*/
  width: 100%;
  padding: .9rem 1rem .59rem; /*2.2rem 1rem .8rem;*/
  border: .1rem solid #e6e6e6;
  border-radius: .8rem;
  background: transparent;
}


/*슬라이더 적용*/
.slider-container {
  padding: 15px 10px 5px;
  position: relative; /* 필터와 같은 위치에 배치 */
  width: 100%; /* 자동 너비 설정 */
  /*max-width: 15rem;*/
}

.km-labels {
  display: flex;
  justify-content: space-between; /* 양쪽 끝으로 정렬 */
  width: 100%; /* 너비를 100%로 설정 */
  font-size: 15px; /* 작은 글씨 크기 */
  margin-top: 5px; /* 슬라이더와의 간격 */
}

#distanceRange {
  width: 100%;
  background: linear-gradient(to right, #FFE283 0%, #FFE283 50%, #ececec 70%, #ececec 100%);
  border-radius: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  accent-color: #ffca1d;
  margin-bottom: 5px;

}

/* 눈금선 스타일 */
#distanceRange::-webkit-slider-runnable-track {
  height: 8px; /* 트랙 높이 */
}

#distanceRange::-webkit-slider-thumb {
  -webkit-appearance: none; /* 기본 스타일 제거 */
  width: 16px; /* 핀 크기 */
  height: 16px; /* 핀 크기 */
  background: #ffca1d; /* 핀 색상 */
  border-radius: 50%; /* 둥글게 만들기 */
  cursor: pointer; /* 커서 포인터 */
}


버튼 비활성화
.disabled {
  color: gray;
  pointer-events: none; /* 클릭 이벤트 비활성화 */
  opacity: 0.3;
}

.gallery-component {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;

  /*background-image: linear-gradient(-20deg, #fff5ff 0%, #fbfcdb 100%);*/
}


.images {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  margin: 0 10px;
  width: 60%; /* 이미지 컨테이너 너비 조정 */
}

.image-item {
  width: 6rem; /* 각각의 이미지 컨테이너 */
  height: 7rem;
  margin: 0 1rem;
  border-radius: 10px;
  background-color: #f0f0f0; /* 기본 배경색 */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 20px; /* 텍스트 크기 */
  color: #333; /* 텍스트 색상 */
  transition: background-color 0.2s, transform 0.2s;
}

.image-item:hover {
  background-color: #c9a2ee; /* 마우스 오버 시 색상 변경 */
  /*border: aqua 5px solid; /* 테두리 강조*/
  transform: scale(1.3); /* 마우스 오버 시 크기 증가 */
}

.arrow {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #2d2d2b;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .image-gallery {
    flex-direction: column;
    align-items: center;
  }

  .images {
    width: 80%; /* 작은 화면에서 이미지 갤러리 너비 조정 */
  }

  .image-item {
    width: 60px; /* 작은 화면에서 아이템 너비 조정 */
    height: 60px; /* 작은 화면에서 아이템 높이 조정 */
  }
}