/* 공통 스타일 */
body {
  font-weight: normal;
  font-style: normal;
  /*display: flex;*/
  min-height: 100vh;
  background-color: #fffae7;
}

/* 헤더 스타일 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 70px;
  box-shadow: 0 4px 2px -2px gray;
  background-image: linear-gradient(to top, #fbfcdb 100%, #f4d4d4 0%);
}

/* 헤더 왼쪽 스타일 */
.header-left {
  display: flex;
  align-items: center;
}

.header-left h1 {
  margin: 0;
  color: #2d2d2b;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  letter-spacing: 2px;
}

.header-left img {
  width:50px;
  height: 50px
}

/* 헤더 오른쪽 스타일 */
.header-right {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

/* 사용자 정보 및 알림 스타일 */
.user-info {
  display: flex;
  align-items: center;
}

.profile-img {
width: 40px;
height: 40px;
margin-right: 10px;
}

.dropdown {
display: inline-block;
margin-bottom: -8px;
}

/* 드롭다운 버튼 스타일 */
.custom-dropdown {
  background-color: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
}

.custom-dropdown:focus {
  box-shadow: none;
}

/* 알림 아이콘 스타일 */
.notification {
  cursor: pointer;
  font-size: 24px;
  color: #888;
  margin-left: 10px;
  margin-bottom: -2px;
  transition: color 0.3s ease;
}

.notification:hover {
  color: #d5a3fd;
}

/* 로그인/회원가입 스타일 */
.auth-options {
  display: none;
  margin-right: 10px;
}

/* 사이드바 스타일 */
.sidebar {
  width: 100px;
  /*background-image: linear-gradient(to top, #a18cd1 0%, #ffe4f8 100%);*/
  /*background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);*/
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.sidebar .profile {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.sidebar nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar nav ul li a img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.sidebar nav ul li a:hover {
  background-color: #d5a3fd;
  transform: scale(1.1);
}

.sidebar nav ul li a:hover img {
  transform: translate(-50%, -50%) scale(1.2);
}

.sidebar nav ul li a.active {
  background-color: #cc83fb;
  transform: scale(1.1);
}

.sidebar nav ul li a.active img {
  transform: translate(-50%, -50%) scale(1.2);
}

/* 메인 콘텐츠 스타일 */
.main-content {
  flex-grow: 1;
  background-color: #fffae7;
  margin-left: 100px;
}

.content {
  margin-top: 10px;
  padding: 10px;
  background-color: #fffae7;
  width: 100%;
  min-height: 90vh;
  overflow-y: auto;
}

/* 푸터 스타일 */
.footer {
  background-color: #fffae7;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
