<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.moji.mapper.BookmarkMapper">

    <select id="findByBookmarkId" parameterType="java.lang.Long" resultType="com.spring.moji.entity.Bookmark">
        SELECT * FROM bookmarks WHERE bookmark_id = #{bookmarkId}
    </select>

    <select id = "findAll" resultType="com.spring.moji.entity.Bookmark">
        SELECT * FROM bookmarks
    </select>

</mapper>