<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.moji.mapper.DiaryMapper">

<!--    <resultMap id="diaryResultMap" type="com.spring.moji.entity.Diary">-->
<!--        <result column="DIARY_ID" property="diaryId"/>-->
<!--        <result column="COUPLE_ID" property="coupleId"/>-->
<!--        <result column="COVER_IMAGE" property="coverImage"/>-->
<!--        <result column="BOOKMARK_ID" property="bookmarkId"/>-->
<!--    </resultMap>-->

<!--    <select id="findByCoupleId" parameterType="java.lang.Long" resultMap="diaryResultMap">-->
<!--        SELECT * FROM diaries WHERE couple_id = #{coupleId}-->
<!--    </select>-->

    <select id="findByCoupleId" parameterType="java.lang.Long" resultType="com.spring.moji.entity.Diary">
        SELECT * FROM diaries WHERE couple_id = #{coupleId}
    </select>

    <update id="updateCoverImage" parameterType="com.spring.moji.dto.request.DiaryRequestDTO">
        UPDATE diaries SET cover_image = #{coverImage} WHERE diary_id = #{diaryId}
    </update>

</mapper>