<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.moji.mapper.ImageUrlMapper">
    <select id="findAllByLocationId" parameterType="java.lang.Long" resultType="com.spring.moji.entity.ImageUrl">
        select *
        from image_urls
        where 1=1
          and location_id = #{locationId}
        order by image_url_id
    </select>

		<select id="findAllByPageId" parameterType="java.lang.Long" resultType="com.spring.moji.entity.ImageUrl">
				SELECT
				    i.image_url_id,
				    i.location_id,
				    i.map_image,
				    i.created_at
				FROM locations l
								 LEFT JOIN image_urls i ON l.location_id = i.location_id
				WHERE l.page_id = #{pageId}
		</select>
		
    <insert id="insertImageUrl" parameterType="com.spring.moji.dto.request.ImageUrlInsertRequestDTO">
        INSERT INTO image_urls (location_id, map_image, created_at)
        VALUES (#{locationId}, #{mapImage}, sysdate)
    </insert>
</mapper>