<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.moji.mapper.RequestMapper">
  <resultMap id="requestMap" type="com.spring.moji.entity.Request">
    <id column="request_id" property="requestId"/>
    <result column="request_email" property="requestEmail"/>
    <result column="receiver_email" property="receiverEmail"/>
    <result column="created_at" property="createdAt"/>
  </resultMap>

  <resultMap id="authMap" type="com.spring.moji.entity.UserAuth">
    <id column="auth_no" property="authNo"/>
    <result column="user_email" property="userEmail"/>
    <result column="auth" property="auth"/>
  </resultMap>
  <insert id="requestCouple">
    insert into requests(REQUEST_EMAIL, RECEIVER_EMAIL, CREATED_AT)
    values (#{requestEmail}, #{receiverEmail}, sysdate)
  </insert>

  <select id="checkRequest" resultMap="requestMap">
    select REQUEST_ID, REQUEST_EMAIL, RECEIVER_EMAIL, CREATED_AT
    from REQUESTS
    where RECEIVER_EMAIL = #{receiverEmail}
  </select>

  <select id="checkMyRequest" resultMap="requestMap">
    select REQUEST_ID, REQUEST_EMAIL, RECEIVER_EMAIL, CREATED_AT
    from REQUESTS
    where REQUEST_EMAIL = #{requestEmail}
  </select>
  <insert id="addCouple" parameterType="com.spring.moji.dto.request.CoupleRequestDTO" useGeneratedKeys="true" keyColumn="couple_id" keyProperty="coupleId">
    insert into COUPLES(user1_email, user2_email, couple_name, couple_profile_image)
    values (#{requestEmail}, #{receiverEmail}, '커플',
            '/image/content/user/default-avatar.avif')
  </insert>

  <delete id="deleteCouple">
    delete
    from COUPLES
    where USER1_EMAIL = #{email}
       or user2_email = #{email}
  </delete>

  <insert id="addCoupleAuth">
    insert into user_auth(user_email, auth)
    values (#{userEmail}, 'ROLE_COUPLE')
  </insert>

  <delete id="deleteCoupleAuth">
    delete
    from USER_AUTH
    where user_email = #{email}
      and auth = 'ROLE_COUPLE'
  </delete>

  <delete id="deleteRequest">
    delete
    from REQUESTS
    where RECEIVER_EMAIL = #{email}
  </delete>

  <delete id="cancelRequest">
    delete
    from REQUESTS
    where REQUEST_EMAIL = #{email}
  </delete>

  <update id="convertCoupleStatusIntoCouple">
    update users
    set COUPLE_STATUS = 1
    where email = #{email}
  </update>
</mapper>